@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans';
}

.set_lato{
  font-family: "lato";
}
/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track (background) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scrollbar Thumb (moving part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1f2287; /* Purple */
  border-radius: 10px;
}

/* Scrollbar Thumb on Hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2f1d59; /* Darker Purple */
}




.custom-scrollbar2::-webkit-scrollbar {
  width: 3px;
}

/* Scrollbar Track (background) */
/* .custom-scrollbar2::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
} */

/* Scrollbar Thumb (moving part) */
.custom-scrollbar2::-webkit-scrollbar-thumb {
  background: #0b3eb7; /* Purple */
  border-radius: 2px;
}

/* Scrollbar Thumb on Hover */
